/AddEvenNumbers.class
/ArrayOfObjects.class
/ArraySort.class
/CountDuplicateUnique.class
/DiceGame.class
/DiceRoll.class
/EqualChocolates.class
/FrequencyOfElements.class
/MaxMinArray.class
/MergedArray.class
/MissingNumber.class
/MovieSeatJaggedArray.class
/Movie_seats.class
/RemoveDuplicate.class
/SearchFrequency.class
/checkElement.class
/customeDetailForEach.class
/demo.class
/findDuplicate.class
/greatestElements.class
/jaggedArray.class
/multiDimensionalArray.class
/singleDimensionalArray.class
