/BloodDonor.class
/MovieDetails.class
/OddEvenSum.class
/OvertimePay.class
/Placement.class
/PrimeNumbers.class
/PrimeNumbersRange.class
/SalaryHike.class
/SalaryIncrement.class
/SumOfOddAndEven.class
/VoteEligibility.class
